# INSTRUCTIONS:
# 1. Copy this file and rename it to ".env"
# 2. Replace the placeholder below with your actual access token from the https://challenges.hackattic.com/

ACCESS_TOKEN=your_token_here
BASE_URL=https://hackattic.com/challenges
